<%= form_for [@user, @space] do |f| %>

 <div class="newspace">
    <h1 class="new-space-title">Add Your Home</h1>


    <div class="form_field">
      <%= f.label :address %><br>
      <%= f.text_field :address, placeholder: "121 Street Lane, Toronto, ON" %>
    </div>

    <br />
    
    <div class="form_field">
      <%= f.label :garbaje_day %><br>
      <%= f.select :garbaje_day, ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %>
    </div>
    <br />
    <div class="submit">
      <%= f.submit %>
    </div>
</div>

<% end %>
