<h1>How much garbage space would you like to sell, <%= @user.first_name %>?</h1>

<%= form_for [@user, @space] do |f| %>

<div class="form_field">
  <%= f.label :capacity %><br>
  <%= f.number_field :capacity %>
</div>

<div class="submit">
  <%= f.submit %>
</div>

<% end %>
