<h3>How many spaces would you like to sell, <%= @user.first_name %>?</h3>

<%= form_for [@user, @space] do |f| %>

<div class="how-many-field">
  <div class="form_field">
    <%= f.label :capacity %>
    <%= f.number_field :capacity, min:1 , max: 4 %>
  </div>
  <div class="submit">
    <%= f.submit 'update', data: { confirm: 'Are you sure you want to sell this space?' } %>
  </div>
</div>



<% end %>
