<h1>Buy Spaces</h1>

<div id='map'></div>

<%= javascript_tag do %>
  window.spaces = <%=raw @spaces.to_json %>;
<% end %>

<%= form_tag do %>
  <%= label_tag 'Quantity'%>
  <%= number_field_tag 'quantity' %>
  <button type="button" id="find-nearby">Find Available Space Near Me!</button>
<% end %>


<div class="geolocation-list">

</div>

<!--
<section id="spaces-section">
  <%#= render "spaces/spaces" %>
</section> -->

<script>

function initMap() {


  var map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: 51.2538, lng: 85.3232},
  zoom: 4
  });


  var markers=[];
  var infoWindowContent=[];

    $.each(window.spaces, function(index) {

      markers.push([spaces[index]['address'], spaces[index]['latitude'],spaces[index]['longitude']]);
      infoWindowContent.push(['<div class="info_content" >' +
      '<h3 style="color: rgb(<%= rand(0..200)%>,<%= rand(0..200)%> ,<%= rand(0..200)%>);">'+spaces[index]['address']+'</h3>' +'</br>'+
      '</div>']);

    });

    // var bounds = new google.maps.LatLngBounds();

    var infoWindow = new google.maps.InfoWindow(), marker, i;
    // Loop through our array of markers & place each one on the map
    for( i = 0; i < markers.length; i++ ) {
      var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
      // bounds.extend(position);
      marker = new google.maps.Marker({
      position: position,
      map: map,
      // returns address on hover
      title: markers[i][0]
        });

    // Allow each marker to have an info window
    //no clue what these lines do????
    google.maps.event.addListener(marker, 'click', (function(marker, i) {
      return function() {
      infoWindow.setContent(infoWindowContent[i][0]);
      infoWindow.open(map, marker);

      }
    })(marker, i));

    // Automatically center the map fitting all markers on the screen
    // map.fitBounds(bounds);

    }

    // Override our map zoom level once our fitBounds function runs (Make sure it only runs once) WUT?
    var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
      this.setZoom(14);
      google.maps.event.removeListener(boundsListener);
    });

}
</script>
