<h1>Transactions#new</h1>

<%= form_tag do %>
  <%= label_tag 'Quantity'%>
  <%= number_field_tag 'quantity' %>
  <button type="button" id="find-nearby">Find Available Space Near Me!</button>
<% end %>


<!-- map injected here -->
<div id="map" data-latitude="<%= @space.latitude %>" data-longitude="<%= @space.longitude %>" data-name="<%= @space.address %>">

</div>

<!-- list of restaurants AJAXed in here -->

<div class="geolocation-list">

</div>
